@import './base.css';

/* 全局字体、颜色等可以保留 */
a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

/* 强制关闭横向滚动 */
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
